---
import Layout from "../layouts/Layout.astro";
import Back from "../components/Back.svelte";
---

<Layout title=":daniel:">
  <h2>Daniel its english meme that show emoji shock</h2>
  <Back client:visible />
</Layout>
