---
import Layout from "../layouts/Layout.astro";
import SvelteGame from "../components/Game.svelte";
---

<Layout title="Gaem test">
  <SvelteGame client:load />
  <button><a href="/sites">go back</a></button>
</Layout>
