---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import strongApil from "../assets/strong_apil.png";
import junimoDance from "../assets/junimo_dance_unscreen.gif";
import apilcatWithDonut from "../assets/apilcat_with_donut.png";
---

<Layout title="BREKING NEWS">
	<h1>Hello world!</h1>

	<h1>Apil amogusovich</h1>

	<p>Best apil ever</p>

	<h1>All loves apples</h1>

	<p><b>So importnt news</b></p>
	<ul>
		<Image src={strongApil} width={200} alt="strong apil" />
		<li>saddfsad</li>
		<li>asdfds</li>
		<li>asdfgds</li>
	</ul>
	<h1>Breking news end</h1>

	<Image src={junimoDance} width={300} alt="junimo dance" />
	<Image src={apilcatWithDonut} width={300} alt="apilcat with donut" />

	<h2>Capyright 2090 apl softek</h2>

	<iframe src="/sites" width="500px" height="650px" title="all sites"></iframe>

	<h1></h1>

	<button><a href="https://podter.me">go back xd</a></button>
</Layout>
