---
import Layout from "../layouts/Layout.astro";
import { memes } from "../constants/memes";
import Meme from "../components/Meme.astro";
import dietzNuts from "../assets/dietz_nuts.png";
import Back from "../components/Back.svelte";
---

<Layout title="Memes.org">
  <center>
    <Back text="Back" client:visible />
  </center>

  <center>
    <img src={dietzNuts} width="350px" alt="dietz nuts" />
  </center>

  <h1>TOP 10 MEMES 2033223253 YEAR</h1>

  {memes.map((meme) => <Meme {...meme} />)}

  <center>
    <Back text="back" client:visible />
  </center>
</Layout>
