---
import Layout from "../layouts/Layout.astro";
---

<Layout title="All sites">
  <button><a href="/rickroll">Contact data</a></button>
  <h1></h1>
  <button><a href="/valve">free VALVe</a></button>
  <h1></h1>
  <button><a href="https://wikipedia.org">Version 0.109.4</a></button>
  <h1></h1>
  <button><a href="/daniel">Amogus</a></button>
  <h1></h1>
  <button><a href="/interst">SO INTERST SITE</a></button>
  <h1></h1>
  <button><a href="/memes">Memes</a></button>
  <h1></h1>
  <button><a href="/game">test button</a></button>
  <h1></h1>
  <button><a href="/audio">audio test</a></button>
</Layout>
